
* body {
    margin: 0;
    padding:0;
}
#canvas{
    background-color: rgba(216, 136, 71, 0.459);
}

.top-background {
    background-image: linear-gradient(rgba(0,0,0,0.5 ),rgba(0,0,0,0.5)),url(Foto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100vh;
}

ul{
    float:right;
    list-style-type:none;
    margin-top:25px;
}

ul li {
    display:inline-block;
    font-size:20px;
    border-style:solid;
    border-radius:5px;
    border-color:white;
    border-width: 1px;
}
ul li a{
    text-decoration:none;
    color:white;
    padding:5px 20px;
    transition:0.6s ease;
}
.logo img{
    float:left;
    width:50px;
    height:auto;
}
.main{
    max-width:1200px;
    margin:auto;
}
.page-title {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 28px;
    letter-spacing: 10px;
    text-shadow: 0 0 5px #154b0f;
}
@keyframes text {
    0%{
        color:blanchedalmond;
        margin-bottom:-40px;
    }
    30%{
        letter-spacing:30px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing:8px ;
        margin-bottom:-40px;
    }

}
.palette {
    position: absolute;
    top: 38%;
    left: 44%;
    font-size: 30px;
    color: white;
    letter-spacing: 15px;
    animation : text  5s 1;
}
.description {
    position: absolute;
    top: 40%;
    left: 6%;
    font-variant: small-caps;
    font-size: 20px;
    letter-spacing: 15px;
    margin: 0.5px;
    color: white;
    text-shadow: 0 0 6px #09280f;
}
.container{
    width:80%;
    height:50vh;
    padding: 0 8%;
    color:white;
    text-shadow:4px 4px 7px #0e1a11;
}
    .container h1 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
        font-weight:800;
        position: relative;
        letter-spacing: 15px;
        border-radius: 10px;
        border: 4px double #22651b;
        background:white;
        text-shadow: 0 0 7px black;
    }
    .container h1::after {
        content: '';
        background: rgba(85, 107, 47, 0.726);
        width: 100px;
        height: 5px;
        font-size: 20px;
    }

    .row {
        display: flex;
        text-align: center;
        padding: 2px;
        width: auto;
    }
.service{
    text-align:center;
    padding-top: 20px;
    border-radius:5px;
    font-size:20px;
    border:double;
    cursor:pointer;
    outline-style: outset;
    outline-color:rgba(36, 82, 36, 0.493);
    outline-width:5px;
    outline-offset:3px;
    background:#465231d0;
    background-position: cover;
}
    .service i {
        font-size:70px;
        margin-bottom: 15px;
        color:olivedrab;
    }
.service h2{
    font-weight:600;
    margin-bottom:1px;
}
.service:hover {
    background:white;
    color:darkolivegreen;
    transform:scale(1.05);
}
.samples{
    flex-direction: column;
    text-align: center;
    background-color:rgba(90, 100, 70, 0.877);
    background-position: center;
    background-repeat:repeat;
    background-size:cover;
    height:180vh;
}
.samples h2{
    color:white;
    letter-spacing:7px ;
    font-size:30px;

}
.samples p {
    color:white;
    letter-spacing:10px;
}

.Featured {
    width:90%;
    display: grid;
    grid-template-columns:2fr 2fr 2fr;
    grid-gap:3%;


}
.Work {
    width:120%;
    height:100%;
    color:grey;

}
.Work img {
    width:370px;
    height:500px;
    cursor:pointer;
    max-height:auto;
    border-radius:20px;
    opacity:0.9;
    outline-style: outset;
    outline-color:rgba(10, 10, 10, 0.493);
    outline-width:3px;
    outline-offset:24px;
}
.Work img:hover{
    cursor:pointer;
    transform: rotate(15deg);
    transition:all ease 0.3s;
    opacity:1;
    -webkit-transform: scale(1.2); 
}

.Work a{
    color:whitesmoke;
}
.story-section{
    display:flex;
    height:30%;
    padding-top:3px;
    padding-top:20px;
    flex-direction:row-reverse;
    background:right;
    background-color:white;
    color:black;
}
.section-text h2{
    margin-top: 10px;
    text-transform:uppercase;
    font-size:28px;
    color:#88941e;
}

.section-text p{
    padding-left:70px;
    margin-left:20px;
    font-family:cursive;
    border-style:dashed;
    border-color:rgb(69, 95, 42);
    text-align:left;
    text-shadow: 3px grey;
    font-size:13px;

    
}
.box-feature img {
    padding-right:70px;
    margin-top:0px;
    margin-bottom:15px ;
    float:right;
}
.tables {
    padding-left:40px;
    padding-right:30px;
    height:360vh;
    width:200;
}
.tables h2{
    text-align:center;
    font-size:30px;
    color:white;
    font-family:TwinkleStar;
    letter-spacing:8px;
    background-color: rgba(153, 196, 129, 0.432);
}
    
.tables h3 {
    text-align:left;
    font-size:20px;
    color:rgb(24, 58, 24);
    font-family:cursive;
}
.tables p {
    text-align:left;
    font-size:20px;
    color:rgb(240, 250, 240);
    font-family: monospace;
    font-weight:20px;
    text-shadow: 0 0 5px black;
    border-left:2px outset rgb(24, 58, 24);
    border-bottom:2px outset rgb(24, 58, 24);
}
.tables dl {
    text-align:left;
    font-size:17px;
    color:rgb(40, 58, 40);
    font-family: monospace;
    font-weight:20px;

}
.tables ol {
    text-align:left;
    font-size:17px;
    color:rgb(40, 66, 40);
    font-family: monospace;
    font-weight:20px;
    column-count:2;
    column-gap:400px;
}
@font-face {
    font-family:TwinkleStar;
    src: url(TwinkleStar.ttf);
    font-weight:bold;
}

.footer{
    font-family:'Segoe UI';
    font-weight:400;
    padding:40px 0;
    background-color:grey;
}
.social {
    text-align: center;
    padding-bottom: 25px ;
    color:white;

}
.social a {
    font-size:24px;
    color:inherit;
    border: 1px solid darkslategray;
    width:40px;
    height:40px;
    line-height:38px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    opacity:0.75;
}
.social a:hover{
    opacity:0.9;
}

.footer ol {
    margin-top:0;
    text-align:center;
    padding:0;
    color:white;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
.footer ol li a{
    color: inherit;
    text-decoration:none;
    opacity:0.8;
}
.footer ol li {
    display:inline-block;
    padding:0 15px;
}
.footer ol li a:hover {
    opacity:1;
}
.copyright {
    margin-top:15px;
    position: absolute;
    right:47%;
    font-size:15px;
    color:darkslategrey;
}
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
article{
    padding-bottom:25px;
    font-size:20px;
    color:rgb(22, 22, 21);
    text-align:center;
    font-family: cursive;
    border:whitesmoke dotted;


}
.Fabrics {
    height:20vh;
    width:100%;
    background-color:rgba(238, 209, 171, 0.795);
}

hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}
label {
    font-family: monospace;
    font-size:20px;
    color:rgb(14, 14, 13);
    
}
input{

    color:rgb(224, 151, 66);
}


.maltiner {
	width:70%;
	padding-left:15%;
	background: #fff;
}
.main-header {
	text-align: center;
	padding: 2.8em 0 3.8em;
}
.cube-container {
	max-width: 200px;
	text-align: center;
	margin: 0 auto 4.5em;
}

.name {
	font-size: 1.65em;
	font-weight: 800;
	margin: 0 0 1.5em;
	line-height: 1;
}
.name span {
	font-weight: 300;
	margin-left: -7px;
}

.photo-desc {
	font-size: .85em;
	color: #fff;
	padding: 1.1em 1em 0;
	background: #e9ecf0;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

@media (min-width: 769px) {
	.cube-container {
		float: left;
		margin-left: 16.6%;
	}
}
@media (min-width: 1025px) {
	.cube-container:first-child {
		margin-left: 0;
	}
	.cube-container:last-child{
		float: right;
	}
	.content {
		max-width: 900px;
		margin: auto;
	}
}
.cube-container {
	box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
  perspective: 800px;
}

.photo-cube {
transition: transform 2s ease-in-out; 
  width: 220px;
  height: 200px;
  transform-style: preserve-3d;
}

.photo-cube:hover {
transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
width: 100%;
height: 100%;
display: block;
position: absolute;
}

.front {
transform: translate3d(0,0,110px);
}

.back {
transform: translateZ(-110px) rotateY(270deg);
  transform-origin: center left;
}

.left {
transform: rotateY(-270deg) translate3d(110px, 0, 0);
  transform-origin: top right;
}

.right {
transform: translateZ(-110px) rotateY(180deg);
 }
 .questions{
     background-image: linear-gradient(rgba(0,0,0,0.5 ),rgba(0,0,0,0.5)),url(furniture.jfif);

 }
 
 .title {
     text-align:center;
     color:rgb(255, 255, 255);
     font-size:15px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .question-title{
     color:white;
 }
 .question-text{
     color:white;
     background-color: rgba(70, 82, 56, 0.644);
 }








































