
* body {
    margin: 0;
    padding:0;
}

.top-background {
    background-image: linear-gradient(rgba(0,0,0,0.5 ),rgba(0,0,0,0.5)),url(Foto1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

ul{
    float:right;
    list-style-type:none;
    margin-top:25px;
}
ul li {
    display:inline-block;
    font-size:20px;
    border-style:solid;
    border-radius:5px;
    border-color:white;
    border-width: 1px;
}
ul li a{
    text-decoration:none;
    color:white;
    padding:5px 20px;
    transition:0.6s ease;
}
.logo img{
    float:left;
    width:60px;
    height:auto;
}
.main{
    max-width:1200px;
    margin:auto;
}
.page-title {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 28px;
    letter-spacing: 10px;
    text-shadow: 0 0 5px #154b0f;
}
.palette {
    position: absolute;
    top: 38%;
    left: 44%;
    font-size: 30px;
    color: white;
    letter-spacing: 15px;
    cursor: pointer;
}
.description {
    position: absolute;
    top: 40%;
    left: 6%;
    font-variant: small-caps;
    font-size: 20px;
    letter-spacing: 15px;
    margin: 0.5px;
    color: white;
    text-shadow: 0 0 6px #09280f;
}
section{
    background-color:rgba(79, 92, 58, 0.829);
    background-size:cover;
    background-position: center;
    height:100%;
    padding-top: 75px;

  
}
.container{
    width:80%;
    height:50vh;
    padding: 0 8%;
    color:white;
    text-shadow:2px 2px 5px #0e1a11;
}
    .container h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: 600;
        position: relative;
        letter-spacing: 15px;
        border-radius: 10px;
        border: 4px double #22651b;
        background:white;
    }
    .container h1::after {
        content: '';
        background: darkolivegreen;
        width: 100px;
        height: 5px;
        font-size: 20px;
    }

    .row {
        display: flex;
        text-align: center;
        padding: 10px;
        width: auto;
    }
.service{
    text-align:center;
    padding-top: 20px;
    border-radius:5px;
    font-size:20px;
    border:double;
    cursor:pointer;
    background:#303c1ade;
    background-position: cover;
}
    .service i {
        font-size:70px;
        margin-bottom: 15px;
        color:olivedrab;
    }
.service h2{
    font-weight:600;
    margin-bottom:1px;
}
.service:hover {
    background:white;
    color:darkolivegreen;
    transform:scale(1.05);
}
.samples{
    flex-direction: column;
    text-align: center;
    background-color: palevioletred;
    background-position: center;
    background-repeat:repeat;
    background-size:cover;
    height:180vh;
}
.samples h2{
    color:white;
    letter-spacing:7px ;

}
.samples p {
    color:white;
    letter-spacing:10px;
}

.Featured {
    width:90%;
    display: grid;
    grid-template-columns:2fr 2fr 2fr;
    grid-gap:3%;


}
.Work {
    width:120%;
    height:100%;
    color:grey;

}
.Work img {
    width:370px;
    height:500px;
    cursor:pointer;
    max-height:auto;
    border-radius:20px;
    opacity:0.9;
}
.work img:hover{
    cursor:pointer;
    transform:translateY(-15px);
    transition: all ease 0.5s;
}
.Work a{
    color:darkslategrey;
}
.story-section{
    display:flex;
    height:30%;
    padding-top:3px;
    padding-top:20px;
    flex-direction:row-reverse;
    background:right;
    background-color:white;
    color:black;
}
.section-text h2{
    margin-top: 10px;
    text-transform:uppercase;
    font-size:28px;
    color:#88941e;
}

.section-text p{
    padding-left:70px;
    margin-left:20px;
    font-family:cursive;
    text-align:left;
    text-shadow: 3px grey;
    border-style: double;
    border-color:#88941e;
    padding:20px;
    
}
.box-feature img {
    padding-right:70px;
    margin-top:0px;
    margin-bottom:15px ;
    float:right;
}
.tables {
    background-color:rgb(140, 209, 140);
    background-position:center;
    background-size:cover;
    height:300vh;
}
.tables h3 {
    text-align:left;
    font-size:20px;
    background-color:rgba(51, 82, 51, 0.466);
    color:black
}
.tables p {
    text-align: left;
    font-size:20px;
    color:black;
}

.footer{
    font-family:'Segoe UI';
    font-weight:400;
    padding:40px 0;
    background-color:grey;
}
.social {
    text-align: center;
    padding-bottom: 25px ;
    color:white;

}
.social a {
    font-size:24px;
    color:inherit;
    border: 1px solid darkslategray;
    width:40px;
    height:40px;
    line-height:38px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    opacity:0.75;
}
.social a:hover{
    opacity:0.9;
}
.communication{
    width:88%;
    margin: 0 auto;
    padding:1%;
}
.text-center {
    text-align:center;
    color:white;
    letter-spacing:7px;
}
.contactus {
    background-color:grey;
    padding:4% 0;
}
.contact-form{
    width:43%;
    margin:1%;
    padding:2%;
    float:left;
    background-color:whitesmoke;
    border-radius:15px;
}

 input[type=text],select,textarea {
     width:100%;
     padding:12px;
     border:1px solid white;
     border-radius:5px;
     box-sizing:border-box;
     margin-top:6px;
     margin-bottom:16px;
     resize:vertical;
 }

.footer ol {
    margin-top:0;
    text-align:center;
    padding:0;
    color:white;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
.footer ol li a{
    color: inherit;
    text-decoration:none;
    opacity:0.8;
}
.footer ol li {
    display:inline-block;
    padding:0 15px;
}
.footer ol li a:hover {
    opacity:1;
}
.copyright {
    margin-top:15px;
    position: absolute;
    right:47%;
    font-size:15px;
    color:darkslategrey;
}








































